body{

}
.xnwebglobal-tooltip p,.xnwebglobal-label p{
    margin:0;
    line-height: 1.4;
}
.xnwebglobal-label{
    position: absolute;
    color: #fff;
    background: blue;
    pointer-events: none;
    font-size: 12px;
    padding:4px 6px;
}
